Question1) Final value of a will be 6. since a is defined as a global variable it can be modified by the function c(). so after three calls the value of a will be 0+2+2+2 = 6.

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

b()
b()
b()
a

6

Question2)

In [3]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print("file "+file_name+" not found!")
file_length("idterm.py")

file idterm.py not found!

Question3)

In [2]:
class Marsupial:
    def __init__(self):
        self.a=[]
    def put_in_pouch(self,content):
        self.a.append(content)
    def pouch_contents(self):
        return self.a

        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [4]:
class Marsupial:
    def __init__(self):
        self.a=[]
    def put_in_pouch(self,content):
        self.a.append(content)
    def pouch_contents(self):
        return self.a

class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
    def Jump(self,dx,dy):
        self.x+=dx
        self.y+=self.y+dy
    def __str__(self):
        return("I am a Kangaroo located at coordinates ({},{})".format(self.x,self.y))
        
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

k = Kangaroo(0,0)
print(k) 
k.put_in_pouch('doll') 
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()
k.Jump(1,0)
k.Jump(1,0)
k.Jump(1,0)
print(k)

I am a Kangaroo located at coordinates (0,0)
I am a Kangaroo located at coordinates (3,0)

Question4)

In [5]:
def collatz(x):
    if(x != 1):
        print(x ,end ='\n')
    if(x == 1):
        print(x ,end ='\n')
        return x
    if(x%2 == 0):
        x = x // 2
        collatz(x)
    else:
        x= 3*x + 1
        collatz(x)
collatz(10)

10
5
16
8
4
2
1

Question5)

In [7]:
dectobin =""
def binary (n):
    global dectobin
    if(n!=1):
        if(n==0):
            print("0")
        else:
            temp=""
            remainder = int(n%2)
            temp =str(remainder)
            dectobin+=temp
            n =int(n/2)
            binary(n)
    else:
        dectobin +="1"
        dectobin = dectobin [::-1] 
        print(dectobin)
        dectobin=""
        
binary(0)
binary(1)
binary(3)
binary(9)

0
1
11
1001

Question6)

In [10]:
from urllib.parse import urljoin
from html.parser import HTMLParser
from urllib.request import urlopen

head1='False'
head2='False'
class HeadingParser(HTMLParser):  
    def handle_starttag(self, tag, attributes):
        if tag == 'h1':
            global head1
            head1 = "True"  
        if tag == 'h2':
            global head2
            head2 = "True"
        
    def handle_endtag(self, tag):
        if head1 == "False":
            pass  
        if head2 == "False":
            pass
        
    def handle_data(self, data):
        global head1,head2     
        if head1 == "True":
            print(data)
            head1='False'       
        if head2 == "True":
            print(' ',end='')
            print(data)
            head2 = 'False'

infile = open('w3c.html') 
content = infile.read() 
infile.close() 
hp = HeadingParser() 
hp.feed(content)

W3C Mission
 Principles

Question7)

In [14]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

class Collect(HTMLParser):

    def __init__(self, given_URL):
        
        HTMLParser.__init__(self)
        self.givenURL = given_URL
        self.availableLinks = []

    def handle_starttag(self, tag, attrs):
        if tag == 'a':
            for attr in attrs:          
                if attr[0] == 'href': 
                    absolute = urljoin(self.givenURL, attr[1])
                    if absolute[:4] == 'http':
                        self.availableLinks.append(absolute)

    def getLinks(self):
        return self.availableLinks

allLinks = []
def webdir(given_URL,depth,index):
    global allLinks
    resource = urlopen(given_URL)
    content = resource.read().decode()
    collect = Collect(given_URL)
    collect.feed(content)
    allLinks = collect.getLinks()
    print(index*" " + given_URL)
    if depth == 0:
         return 
    for i in allLinks: 
        webdir(i, depth-1, index+1)    
            
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html',2,0)

http://reed.cs.depaul.edu/lperkovic/test1.html
 http://reed.cs.depaul.edu/lperkovic/test2.html
  http://reed.cs.depaul.edu/lperkovic/test4.html
 http://reed.cs.depaul.edu/lperkovic/test3.html
  http://reed.cs.depaul.edu/lperkovic/test4.html

Question8)

In [15]:
import sqlite3
sqliteConnection = sqlite3.connect('arshad2.db')
cur = sqliteConnection.cursor()
cur.execute("CREATE TABLE season (City text, Country text, Season text, Temperature float, Rainfall float)")
lst=[('Mumbai', 'India','Winter',24.8, 5.9),('Mumbai','India','Spring',28.4,16.2),('Mumbai','India','Summer',27.9,1549.4),
     ('Mumbai','India','Fall',27.6,346.0),('London','United Kingdom','Winter',4.2,207.7),
     ('London','United Kingdom','Spring',8.3,169.6),('London','United Kingdom','Summer',15.7,157.0),
     ('London','United Kingdom','Fall',10.4,218.5),('Cairo','Egypt','Winter',13.6,16.5),('Cairo','Egypt','Spring',20.7,6.5),
     ('Cairo','Egypt','Summer',27.7,0.1),('Cairo','Egypt','Fall',22.2,4.5)]
for i in lst:
    cur.execute("INSERT INTO season VALUES (?,?,?,?,?)",i)
    sqliteConnection.commit()
sqliteConnection.close()
sqliteConnection = sqlite3.connect('arshad2.db')
cur = sqliteConnection.cursor()
cur.execute('SELECT * FROM season')
for i in cur :
    print(i)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

8a

In [16]:
cur.execute('SELECT Temperature FROM season')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

8b

In [17]:
cur.execute('SELECT DISTINCT City from season');
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

8c

In [18]:
cur.execute('SELECT * FROM season WHERE Country ="India" ')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

8d

In [19]:
cur.execute('SELECT * FROM season WHERE Season ="Fall" ')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

8e

In [20]:
cur.execute('SELECT * FROM season WHERE Rainfall BETWEEN 200 AND 400')
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5)]

8f

In [21]:
cur.execute('SELECT City,Country FROM season WHERE Season="Fall" AND Temperature>20 ORDER BY Temperature ASC  ')
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

8g

In [22]:
cur.execute('SELECT SUM(Rainfall) FROM season WHERE City="Cairo" ')
cur.fetchall()

[(27.6,)]

8h

In [23]:
cur.execute('SELECT SUM(Rainfall) FROM season GROUP BY Season ')
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

Question 9

In [30]:
data1 =['The','quick','brown','fox','jumps','over','the','lazy','dog']

data2 = [name.upper() for name in data1]
print("a) ",end=" ")
print(data2)
print()

data3 = [name.lower() for name in data1]
print("b) ",end=" ")
print(data3)
print()

data4=[]
for i in data1:
    data4.append(len(i))
print("c) ",end=" ")
print(data4)
print()

listall=[]
for i in data1:
    length=len(i)
    cap=i.upper()
    small = i.lower()
    listx=[]
    listx.append(cap)
    listx.append(small)
    listx.append(length)
    listall.append(listx)
print("d) ",end=" ")
print(listall)
print()

data5=[]
for i in data1:
    if len(i)>=3:
        data5.append(i)
print("e) ",end=" ")
print(data5)

a)  ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b)  ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c)  [3, 5, 5, 3, 5, 4, 3, 4, 3]

d)  [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

e)  ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']